<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
        <div class="page__box p-3 mt-2" style="display: flex; align-items: center;">Charts
            
    </div>
    <div class="page__content shadow p-3 position-relative">
        
        <div class="page__content-data position-absolute">
          
             <div style="display: flex;">
               <!-- <div class="top-section">
                <app-top-widgets></app-top-widgets>
               </div> -->
               <div class="widget">
                 <app-sales></app-sales>
               </div>
               <div class="bottom-section">
                <app-transactions></app-transactions>
               </div>

               
             </div>
             
           
    </div>
</div>

