/* .widget-container {
    display:flex;
    align-items: space-between;
}
.widget-container .widget {
    width:325px;
    height: 175px;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    margin: 10px;
    box-shadow:5px 5px 5px #939393;
    display: flex;
    align-items: center;
    padding: 20px;

} */