@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    
}
.example-container {
  height: 500px;
  width: 920px;
  max-width: 100%;
  overflow-x: auto;
}

.page .page__box {
    min-height: 120px;
    background: #213164;
    margin: 0 -1rem;
    font-size: 36px;
  }
  .page .page__content {
    min-height: calc(100vh - 160px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
  }
  
  .page .page__content .page__content-data {
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    
  }

  .mat-cell {
    font-size: 12px;
  }
  
  table {
    width: 100%;
    
  }
  .mat-mdc-form-field {

    font-size: 14px;
    
    
  }
  
  
  td, th {
    width: 25%;
    font-size: 23px;
    font-family: arial,sans-serif;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .custom-paginator {
    font-size: 20px; /* change the font size */
    height: 40px; /* change the height */
    font-family: arial,sans-serif;
  }
  
  .example-button-row {
    display: flex;
    padding: 0px;
    
    justify-content: space-between;/*if i want to make buttons closer to each other remove it */
    
   
   }
   
   .example-button-row .mat-mdc-button-base {
    
     margin: 8px 8px 15px 150px;
    
   }

   .popup-container-editer {
    background-color: white;
    width: 300px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 400px;
  }

  .popup-container-editer .close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    align-items:center;
    justify-content:center;
    right:3px;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #213164;
    padding: 0;
   
  }